[user]
    name = Kirill Salnikov
    email = salnikov.k54@gmail.com
[core]
	quotepath = off

[includeIf "gitdir:~/projects/"]
    path = ~/projects/.gitconfig
[includeIf "gitdir:~/projects/work/"]
    path = ~/projects/work/.gitconfig
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = false
[init]
	defaultBranch = main
