[user]
    name = Kirill Salnikov
    email = salnikov.k54@gmail.com
[core]
	quotepath = off
[diff]
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
[alias]
    dft = difftool

[includeIf "gitdir:~/projects/"]
    path = ~/projects/.gitconfig
[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = false
